<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href='./css/styles.css'>
    </head>
        <body>
            <div class="main-content">
                {{>header}}
                {{!-- <h1>About!!</h1> --}}
                <img class="portrait" src="./img/1678720637070.jpg">
                {{!-- <p>Created By {{name}}</p> --}}        
            </div>
            {{>footer}}
        </body>   
</html>   